*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cart-section{

  position: fixed;
  top: 0;
  right: 0;
  width: min(450px,95vw);
  height: 100dvh;
  
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  
  translate: 100vw;
  transition: 0.5s;
  
.cart-toggle-menu{
  width: 100%;
  height:70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd; 
  align-items: center;
  padding-inline:20px ;

  .cart-toggle-menu-cart-size{
    h1{
      font-weight: 400;
      font-size: 18px;
    }
  }

}

.cartitems-section{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline:15px ;
  overflow-y: scroll;
  width: 100%;
  align-items: center;
  padding-top: 10px;
  
}

.cart-subtotal{
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  padding-inline: 20px;
  padding-block: 10px;
  padding-top: 15px;

  div.cart-subtotal-container{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 20px; */
    p{
      font-size: 18px;
    }
  }

  #checkoutbtn{
    width: 100%;
    border: 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-size: 18px;
    /* font-weight: 600; */
    align-self: center;
    color: white;
    transition: all ease 0.3s;
    height: 45px;
  }
  button#checkoutbtn:hover {
    /* background-color: rgb(124, 241, 7); */
    box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
  }
   
  button#checkoutbtn:active {
    scale: 0.9;
  }
}

}
