@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
div#CheckOutPage {
  display: flex;
  width: 100vw;
  background-color: black;
  /* flex-direction: column; */
  /* min-height: 86.5vh; */
  /* height: 100vh; */
  /* padding: 30px; */
  justify-content: center;
  /* align-items: center; */
  /* gap: 30px; */

  position: absolute;
  top: 0;
  z-index: 4;
  /* overflow: hidden; */
  margin: 0px;
}

div#orderOverview {
  width: 40%;
  height: 75vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  align-items: center;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border-radius: 10px;

  height: 100vh;
  background-color: #f6f3ed;
  position: sticky;
  top: 0;

  border-radius: 0;
}

div#orderCartView {
  width: 100%;
  /* background-color: aqua; */
  flex: 1;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  overflow-y: scroll;
}
div#orderCartView::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
div#orderCartView::-webkit-scrollbar-thumb {
  background-color: lightgrey;

  border-radius: 50px;
}
div#orderCalculation {
  width: 100%;

  /* background-color: skyblue; */
  gap: 10px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 0px 15px 0;
  border-bottom: 1px solid lightgray;
}
div#dueAmount {
  width: 100%;

  display: flex;

  align-items: center;

  /* background-color:rgb(230, 248, 255); */
  height: 50px;
}

div#checkOutDetails {
  width: 500px;

  background-color: white;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  width: 60%;
  /* height: 100%; */
  /* overflow: scroll; */
  border-radius: 0;
}

div#checkOutDetails h1 {
  margin-bottom: 35px;
  font-weight: 400;
  display: flex;
}
div#checkOutDetails form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.inputdivs {
  /* margin: 2px; */
  padding: 8px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-top: 0px;

  height: 90px;

  box-sizing: border-box;
}
.inputdivs label {
  transform: translateX(7px);
}
div#checkOutDetails form input {
  height: 35px;
  border: 1px solid lightgray;
  margin: 5px 5px 2px 5px;
  /* border-radius: 5px; */
  padding-left: 10px;
  /* background-color: rgb(230, 248, 255); */
}
div#checkOutDetails form input[type="number"]::-webkit-inner-spin-button,
div#checkOutDetails form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

div#deliveryOptions {
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 30%;
  /* background-color: antiquewhite; */
  margin: 10px 0 17px 0px;
  justify-content: space-between;
  gap: 10px;
}

div.deliveryOption {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 50%;
  background-color: rgb(213, 242, 253);
}

.deliveryPrice {
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  h2 {
    font-weight: 500;
  }
}
.deliveryDetails {
  padding: 10px 14px 10px 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
}
.deliveryDetails #p1 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 3px;
}
.deliveryDetails #p2 {
  font-size: 14px;
  /* font-weight: bold; */
  margin-bottom: 3px;
  color: gray;
}
.deliveryDetails #p3 {
  font-size: 13px;
  /* font-weight: bold; */
  margin-bottom: 3px;
  color: rgb(58, 58, 58);
}
.deliveryCheck {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20%;
}

.deliveryCheck input[type="radio"] {
  width: 18px;
  height: 18px;
}
.deliveryCheck input[type="radio"]:checked {
  color: black;
}

button#saveAddres {
  width: 100%;
  border: 0px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  font-size: 18px;
  /* font-weight: 600; */
  align-self: center;
  color: white;
  transition: all ease 0.3s;
  height: 50px;
}

button#saveAddres:hover {
  /* background-color: rgb(124, 241, 7); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}
button#saveAddres:active {
  scale: 0.9;
}

.promo-code-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  input {
    height: 40px;
    width: 70%;
    padding-inline-start: 10px;
    border: 1px solid #dedede;
    border-radius: 3px;
  }
  button {
    width: 20%;
    background-color: #f0eadf;
    border: 1px solid #dedede;
    border-radius: 3px;
  }
}

.order-summary-expandable-drawer {
  display: none;
}

.order-processing-window {
  width: min(350px, 90vw);

  aspect-ratio: 7/10;
  background-color: white;
  position: fixed;
  top: 50dvh;
  transform: translateY(-50%);
  z-index: 7;
  padding: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  img {
    height: 60px;
    width: 60px;
  }

  h1 {
    font-weight: 400;
    font-size: 26px;
  }
  h2 {
    font-size: 14px;
    font-weight: 400;
    /* translate: 0px 10px; */
    }
    p {
      font-size: 13px;
      text-align: justify;
      
      
    color: #807e7e;
    font-weight: 350;
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    border: 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-size: 18px;
    /* font-weight: 600; */
    align-self: center;
    color: white;
    transition: all ease 0.3s;
    height: 45px;
  }
  button:hover {
    /* background-color: rgb(124, 241, 7); */
    box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
  }

  button:active {
    scale: 0.9;
  }

  a {
    font-size: 13px;
    color: #807e7e;
    }
}

@media (max-width: 1000px) {
  div#orderOverview,
  div#checkOutDetails {
    width: 50%;
  }
}

@media (max-width: 800px) {
  div#CheckOutPage {
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 400;
      font-size: 16px;
    }
  }

  .order-summary-expandable-drawer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-block: 15px;
    padding-inline: 10px;
    background-color: #f6f3ed;

    .orderVisibilitybtn {
      width: 30px;

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px;
      background-color: transparent;

      svg {
        width: 60%;
        height: 90%;
        transition: 0.2s;
      }
    }
  }

  div#orderOverview,
  div#checkOutDetails,
  div#checkOutCard {
    width: min(100%, 500px);
    position: relative;
    /* overflow: unset; */
  }
  div#checkOutDetails::after,
  div#orderOverview::after {
    content: "";
    z-index: -1;

    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: white;
  }

  div#orderOverview::after {
    background-color: #f6f3ed;
  }
  div#orderOverview {
    padding: 0px 10px 0px 10px;
    height: 0px;
    max-height: 85vh;
    display: none;
    overflow: hidden;
    transition: 0.5s;
    position: static;
  }
  h1.orderOverview-main-heading {
    display: none;
  }

  div#orderCalculation {
    p {
      font-size: 14px !important;
    }
  }
  p.calcprices {
    font-size: 18px !important;
  }
  .calcsubprice {
    font-size: 22px !important;
    margin-left: 15px !important;
  }
  div#dueAmount {
    justify-content: flex-end;

    p {
      font-size: 18px !important;
    }
  }
  button#continueShopping {
    display: none;
  }

  div#orderCartView {
    height: 280px;
  }
  #orderCartViewImg {
    width: 20% !important;
  }
  #orderCartViewTitle {
    width: 60% !important;
  }
  #orderCartViewTitle h1 {
    font-size: 15px !important ;
  }
  #orderCartViewPrice {
    width: 20% !important;
  }
  #orderCartViewPrice h1 {
    font-size: 16px !important;
  }
  #orderCartViewPrice p {
    font-size: 14px !important;
  }

  div#checkOutDetails {
    padding: 20px 10px;
    order: 1;
  }
  div#checkOutDetails h1 {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 25px;
    text-align: start;
  }

  .deliveryDetails #p1 {
    font-size: 16px;
  }
  .deliveryDetails #p2 {
    font-size: 14px;
  }
  .deliveryDetails #p3 {
    font-size: 12px;
  }

  .deliveryPrice {
    padding: 20px 0 0 15px;
  }

  .deliveryPrice h2 {
    font-size: 18px;
  }

  .deliveryDetails {
    padding: 10px 4px 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 55%;
  }

  .order-processing-window {
    aspect-ratio: 6/10;
    padding-inline:30px ;
    
    img {
      height: 60px;
      width: 60px;
    }
  
    h1 {
      
      font-size: 28px;
    }
    h2 {
      font-size: 16px;
      
      /* translate: 0px 10px; */
      }
      p {
        font-size: 14px;
        
    }
    
    
  
    button:active {
      scale: 0.9;
    }
  
    a {
      font-size: 14px;
    
      }
  }
}
