@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
  
}

div#header {
  display: flex;
  width: 100vw;
  /* height: 15vh; */
  background: white;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 4;
  /* border-bottom: 2px solid rgb(231, 226, 226); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); */
  box-shadow: 0 5px 5px -5px #00000060;

  transition: ease-in-out 0.6s;
}

div#header-1 {
  display: flex;
  width: 100vw;
  background: #000;
  /* flex: 4; */
  color: white;
  height: 30px;
}
div#announcement {
  display: flex;
  width: 90%;
  padding-left: 10%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.863);
  font-size: 0.85rem;
}
div#faqs {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
a.navigations {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

div#header-2 {
  display: flex;
  width: 100vw;
  padding-inline: 50px;
  /* flex: 8; */
  height: 70px;
  align-items: center;
  /* border: 1px solid black; */
  justify-content: space-between;
  background-color: white;
  /* align-items: center; */
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}
div#logo {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  img {
    height:150%;
    transform: translateY(2%);
    
  }
}

div#cart {
  display: flex;

  justify-content: space-around;
  align-items: center;

  /* overflow: scroll; */
  /* border: 1px solid black; */

  div#cart-icon {
    position: relative;
    display: flex;
    justify-content: center;
  }
  div#cart-counter {
    position: absolute;
    height: 18px;
    width: 18px;
    transform: translate(13px, -13px);
    /* transform: translateY(-20px); */
    background: black;
    border-radius: 50%;
    /* border: 1px solid black; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    font-weight: bold;
  }
}

div#navbar-elems {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  width: 100%;
  padding-inline: 50px;
  /* position: absolute;
  top: 100%; */
  background-color: white;
  /* border: 1px solid black; */
}
ul#navlinks {
  border-top: 1px solid #ebebeb;
  padding-block: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
li.navlinks {
  position: relative;
  list-style: none;
  display: flex;
  /* height: 100%; */
  /* align-items: center; */
}
li.navlinks ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;

  width: 0;
  background: #000;
  display: flex;
  margin-top: 3px;
  transition: all ease 0.5s;
  transform: translateY(3px);
}

li.navlinks :hover::after {
  width: 100%;
}

li.navlinks a {
  font-family: "Jost", sans-serif;

  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/*@media (max-width: 450px) {
  div#header-1{
    display: none;
  }
  div#header-2{
    height: 100%;
  
    background-color: chartreuse;
    overflow-x: scroll;
    width: 100%;
  }
  div#logo {
    width: 50%;
    overflow: hidden;
  }
  div#navbar-elems{
    width: 40%;
    overflow: hidden;
  }
  #cart{
    width: 10%;
    overflow: hidden;
    background-color: black;
  }

  div#header {
    display: flex;
    width: 100vw;
    height: 10vh;
    background: red;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 4;
    border-bottom: 2px solid rgb(231, 226, 226);
  }


} */

/* For screens with a width less than 450px (mobile devices) */
@media (max-width: 780px) {
  div#header-1 {
    display: none;
  }

  div#header {
    height: 8.6vh !important; /* Adjust the overall header height */
    /* border-bottom: 2px solid lightgray !important; */
    box-shadow: none;
  }

  div#header-2 {
    height: 100% !important; /* Adjust the height of header-2 to fill the available space */
    position: relative;
    padding-inline: 15px;
    div#search-icon {
      display: none;
    }
  }

  div#logo {
    /* Adjust the logo width */
    text-align: center; /* Center the logo */
    height:100%;
    overflow: hidden;
    img {
      
      
      
    }
  }

  div#hamburgerMenu {
    display: flex !important;

    justify-content: flex-start;

    align-items: center;
  }

  div#navbar-elems {
    display: none;
  }

  div#navbar-elems-mobile-view {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background: rgb(241, 239, 239);
    background-color: white;
    height: 100dvh;
    width: min(90vw, 400px);
    translate: -100vw;
    z-index: 5;

    transition: 0.2s all ease;
  }

  #hamBurgerLogo {
    height: 9%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 24px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }

  div#navbar-elems-mobile-view ul#navlinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    height: 81%;
    width: 100%;
    padding-inline: 24px;
  }

  div#navbar-elems-mobile-view ul#navlinks li {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ebebeb;
  }
  div#navbar-elems-mobile-view ul#navlinks li:last-child {
    border-bottom: 0px;
  }

  div#navbar-elems-mobile-view ul#navlinks li a {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

    font-size: 20px;
    font-weight: 350;
    font-family: "Jost", sans-serif;
    /* font-optical-sizing: auto; */
  }

  #userAccountLink {
    border-top: 1px solid lightgray;
    height: 10%;
    width: 100%;

    p {
      font-size: 16px;
      font-weight: 400;
      font-family: "Jost", sans-serif;
      padding-left: 20px;
    }
  }

  div#cart {
    /* Full width for the cart */
    padding: 0;
    justify-content: flex-end;
    /* Remove horizontal padding */
  }

  div#cart-counter {
    height: 18px;
    width: 18px;
    transform: translate(
      15px,
      -15px
    ); /* Adjust the position of the cart counter */
  }
}
