@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}
#productcard {
  display: flex;
  min-height: 100vh;
  /* height: 86.5vh; */
  width: min(100vw, 1920px);
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  padding-inline: 4vw;
  position: relative;
  overflow: hidden;
  background-color: white;
  h1 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
  }

  font-style: normal;
}

div#product-images-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;

  div#image-thumbnails {
    width: 25%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .extra-images {
      list-style: none;
      width: 38%;

      overflow: hidden;
      aspect-ratio: 2/3;

      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      outline-offset: 2px;
      /* aspect-ratio: 9/16; */

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  div#main-image {
    width: 75%;
    aspect-ratio: 2/3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    img {
      height: 100%;
      object-fit: cover;
    }
    #left-arrow,
    #right-arrow {
      position: absolute;
      left: 5px;
      svg {
        height: 20px;
        width: 20px;

        color: #ffffff67;
      }
    }
    #right-arrow {
      left: auto;
      right: 5px;
    }
  }
}

div#details {
  display: flex;

  padding-inline: 30px;
  width: 50%;
  /* min-height: 100%; */
  background: white;
  height: 100%;

  /* border-left: 20px solid black; */
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
#brand-name {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgba(0, 0, 0, 0.678);
  margin-bottom: 3%;
}

#productname {
  /* font-size: 30px; */
  font-size: 2rem;
  /* font-size: 60px; */

  font-weight: 400;
  font-style: normal;

  /* font-weight: 400;
  font-style: normal; */
  /* font-family: 'Lato', sans-serif; */
  color: rgb(29, 28, 28);

  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

/* temporary */

#review-stars {
  width: min(40%, 170px);
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5%;

  .stars-outer {
    position: relative;
    background-color: #ebebeb;
    width: 100%;
    aspect-ratio: 411/73;
    -webkit-mask-image: url("rating.png");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    overflow: visible;
  }
  .reviews-count {
    position: absolute;
    display: flex;
    left: 105%;
  }
}

/* temporary */

#productprice {
  font-size: 2rem;

  color: #1d1c1c;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 5%;

  display: flex;
  flex-direction: column;
  align-items: start;
}
#productprice::after {
  content: "(incl. of all taxes)";
  color: #5f5f5f;
  margin-top: 4px;
  font-size: 16px;
}

div#product-variants {
  display: flex;
  
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 7%;
  gap: 20px;
  flex-wrap: wrap;

  div#product-variants-heading {
    display: flex;
    justify-content: space-between;
    p {
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }

  div#product-variants-radio form {
    display: flex;
    

    .size-variant-button-parent {
      position: relative;
    }

    .size-variant-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border: 2px solid #ebebeb;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-size: large;
      font-style: normal;
    }

    .size-variant-button-parent input[type="radio"]:disabled + label {
      color: #999898;
      position: relative;
    }
    .size-variant-button-parent input[type="radio"]:disabled + label::before {
      content: "";
      position: absolute;
      width: 2px;
      rotate: 45deg;
      height: 141%;
      background-color: #ebebeb;
    }

    .size-variant-button-parent input {
      position: absolute;
      top: 0;

      display: none;
    }

    .size-variant-button input[type="radio"] {
      display: none;
    }

    .size-variant-button-parent input[type="radio"]:checked + label {
      background-color: #1a1a1a;
      color: white;
      font-weight: 600;
      border-color: #1a1a1a;
    }
  }
}

button#cartbtn2,
button#proceed-btn {
  border: 0px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: large;
  /* font-weight: 600; */

  align-self: center;

  background-color: #e5e5e5;
  transition: all ease 0.3s;

  bottom: 50px;
  width: 80%;
  height: 50px;
  margin-top: 1rem;
}
button#proceed-btn {
  background-color: #1a1a1a;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

button#cartbtn2:hover {
  /* background-color: rgb(124, 241, 7); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}
button#proceed-btn:hover {
  /* background-color: rgb(124, 241, 7); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}
button#cartbtn2:active,
button#proceed-btn:active {
  scale: 0.9;
}

#size-chart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(80vw, 500px);
  background-color: white;
  z-index: 5;
  translate: 100%;
  transition: 0.5s ease-in-out;

  display: flex;
  flex-direction: column;

  div.sizeChart-toggle-menu {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ebebeb;
    padding-inline: 30px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .sizeChart-image-container {
    overflow-y: scroll;
    width: 100%;
    /* height: 90%; */
    padding-inline: 40px;
    padding-top: 40px;

    img {
      /* margin-top: 100px; */
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  #productcard {
    padding-inline: 0px;
  }
}

@media screen and (max-width: 850px) {
  #productcard {
    display: flex;
    flex-direction: column;

    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    margin-top: 25px;
  }

  div#product-variants {
    display: flex;
    
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 7%;
    gap: 20px;
    flex-wrap: wrap;
  
    div#product-variants-heading {
      display: flex;
      justify-content: space-between;
      p {
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
    }
  
    div#product-variants-radio form {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .size-variant-button-parent {
        position: relative;
        
      }
  
      .size-variant-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53px;
        width: 53px;
        margin-right: 0px;
        border: 2px solid #ebebeb;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-size: large;
        font-style: normal;
      }
  
      .size-variant-button-parent input[type="radio"]:disabled + label {
        color: #999898;
        position: relative;
      }
      .size-variant-button-parent input[type="radio"]:disabled + label::before {
        content: "";
        position: absolute;
        width: 2px;
        rotate: 45deg;
        height: 141%;
        background-color: #ebebeb;
      }
  
      .size-variant-button-parent input {
        position: absolute;
        top: 0;
  
        display: none;
      }
  
      .size-variant-button input[type="radio"] {
        display: none;
      }
  
      .size-variant-button-parent input[type="radio"]:checked + label {
        background-color: #1a1a1a;
        color: white;
        font-weight: 600;
        border-color: #1a1a1a;
      }
    }
  }
  

  div#img {
    display: flex;
    /* flex: 1; */
    background: white;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    margin: 0px;
  }
  div#img img {
    /* object-fit: fill; */

    width: 100%;
  }

  div#details {
    display: flex;
    /* flex: 2; */
    width: 90%;
    height: 50%;
    /* height: 50%; */
    background: white;

    padding: 8px;

    /* border-left: 20px solid black; */
    flex-direction: column;
    overflow: scroll;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-bottom: 60px;
    overflow-y: auto;
  }
  #brand-name {
    margin-bottom: 3%;
    font-size: 14px;
  }
  #productname {
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 6%;
    /* font-size: 60px; */

    /* font-family: 'Lato', sans-serif; */
    color: rgb(29, 28, 28);
  }
  div#review-stars {
    margin-bottom: 6%;
  }

  #productprice {
    font-size: 28px;
    font-weight: 400;
  }
  #productprice::after {
    margin-top: 0px;
    font-size: 14px;
  }

  div#productdescription {
    font-size: 15px;
    height: auto;
    font-family: sans-serif;
  }

  /* new */

  div#product-images-section {
    width: 90%;
    flex-direction: column;
    align-items: center;

    div#image-thumbnails {
      display: none;
    }
    div#image-thumbnails-mobile-view {
      order: 2;
      width: 100%;
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;

      padding-block: 20px;

      #image-toggle-radio {
        display: flex;
        gap: 12px;
        input[type="radio"].extra-images {
          appearance: none; /* Remove default appearance */
          -webkit-appearance: none; /* For older versions of Chrome and Safari */
          -moz-appearance: none; /* For older versions of Firefox */
          -ms-appearance: none;
          outline: none !important;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #ebebeb;
          cursor: pointer;
        }
        input[type="radio"].extra-images:checked {
          background-color: #000000;
        }
      }
    }
    div#main-image {
      width: 100%;
      /* aspect-ratio: 2/3; */
      border-radius: 5px;
      /* overflow: hidden;
      position: relative;
      display: flex;
      align-items: center; */

      img {
        height: 100%;
        object-fit: cover;
      }
      #left-arrow,
      #right-arrow {
        display: none;
      }
    }
  }

  button#cartbtn2,
  button#proceed-btn {
    width: 100%;
  }

  #size-chart {
    top: auto;
    bottom: 0;
    height: 70vh;
    width: 100vw;
    translate: 0 100%;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;

    div.sizeChart-toggle-menu {
      height: 12%;
      padding-inline: 20px;
    }

    .sizeChart-image-container {
      width: 100%;
      padding-inline: 25px;
      padding-top: 20px;
    }
  }
}
