@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}
#productcard {
  display: flex;
  min-height: 100vh;
  /* height: 86.5vh; */
  width: min(100vw,1920px);
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  padding-inline: 100px;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin: 0px 150px 0px 150px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  
}

div#product-images-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;

  div#image-thumbnails {
    width: 25%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .extra-images {
      list-style: none;
      width: 38%;
      
      overflow: hidden;
      aspect-ratio: 2/3;
      

      border-radius: 5px;
      overflow: hidden;
      cursor:pointer ;
      
      outline-offset: 2px;
      /* aspect-ratio: 9/16; */

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  div#main-image {
    width: 75%;
    aspect-ratio: 2/3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    

    img {
      height: 100%;
      object-fit: cover;
    }
    #left-arrow,#right-arrow{
      position: absolute;
      left: 5px;
      svg{
        height: 20px;
        width:20px;
        
        color: #ffffff67;
      }
    }
    #right-arrow{
      left: auto;
      right: 5px;
    }
   
  }
  
}

div#details {
  display: flex;

  padding-inline: 30px;
  width: 50%;
  /* min-height: 100%; */
  background: white;
  height: 100%;

  /* border-left: 20px solid black; */
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
#brand-name {
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgba(0, 0, 0, 0.678);
  margin-bottom: 5%;
}

div#productname {
  font-size: 30px;
  /* font-size: 60px; */

  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  /* font-weight: 400;
  font-style: normal; */
  /* font-family: 'Lato', sans-serif; */
  color: rgb(29, 28, 28);

  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
#rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
#ratingStars2 {
  display: flex;
  width: 210px;
  height: 40px;

  align-items: center;
}

div#productprice {
  font-size: 30px;

  color: rgb(56, 55, 55);

  display: flex;
  align-items: center;
  margin-bottom: 5%;

  display: flex;
  flex-direction: column;
  align-items: start;
}
div#productprice::after {
  content: "(incl. of all taxes)";

  margin-top: 4px;
  font-size: 16px;
}

div#product-variants{
display: flex;
flex-direction: column;
margin-top: 5%;
margin-bottom: 7%;
gap: 20px;

  div#product-variants-heading{
    display: flex;
    justify-content: space-between;
    p{
      font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
      font-weight: 400;
    font-style: normal;
    }
  }

div#product-variants-radio form {
  display: flex;

  .size-variant-button-parent {
    position: relative;
  }

  .size-variant-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border: 2px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
  }

  .size-variant-button-parent input[type="radio"]:disabled + label{
    color: #999898;
    position: relative;
    
    
    
    }
      .size-variant-button-parent input[type="radio"]:disabled + label::before{
        content: '';
        position: absolute;
        width: 2px;
        rotate: 45deg;
        height: 141%;
        background-color: #ccc;
        
      }

  .size-variant-button-parent input {
    position: absolute;
    top: 0;

    display: none;
  }

  .size-variant-button input[type="radio"] {
    display: none;
  }

  .size-variant-button-parent input[type="radio"]:checked + label {
    background-color: #1a1a1a;
  color: white;
  font-weight: 600;
  border-color: #1a1a1a;
  }
}

}

button#cartbtn2,
button#proceed-btn {
  border: 0px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: large;
  /* font-weight: 600; */

  align-self: center;

  background-color: #e5e5e5;
  transition: all ease 0.3s;

  bottom: 50px;
  width: 80%;
  height: 50px;
  margin-top: 1rem;
}
button#proceed-btn {
  background-color: #1a1a1a;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

button#cartbtn2:hover {
  /* background-color: rgb(124, 241, 7); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}
button#proceed-btn:hover {
  /* background-color: rgb(124, 241, 7); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}
button#cartbtn2:active,
button#proceed-btn:active {
  scale: 0.9;
}

#ratingStars2 p {
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  #productcard {
    display: flex;
    flex-direction: column;

    height: 92.5vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
  }

  div#img {
    display: flex;
    /* flex: 1; */
    background: white;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    margin: 0px;
  }
  div#img img {
    /* object-fit: fill; */

    width: 100%;
  }

  div#details {
    display: flex;
    /* flex: 2; */
    width: 100%;
    height: 50%;
    /* height: 50%; */
    background: white;

    padding: 8px;
    padding-left: 12px;
    /* border-left: 20px solid black; */
    flex-direction: column;
    overflow: scroll;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-bottom: 60px;
    overflow-y: auto;
  }
  div#productname {
    font-size: 35px;
    /* font-size: 60px; */
    font-family: "Anton", sans-serif;
    /* font-family: 'Lato', sans-serif; */
    color: rgb(29, 28, 28);
  }

  button#cartbtn2 {
    margin-top: 4.5%;

    border: 0px;
    height: 50px;
    border-radius: 3px;
    background: transparent;
    width: 100%;
    display: flex;

    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 600;

    background-color: rgb(33, 182, 174);
    background: rgb(0, 174, 243);
    transition: all ease 0.3s;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
  }
  button#cartbtn2:hover {
    /* background-color: rgb(124, 241, 7); */
    box-shadow: none;
  }

  div#productprice {
    font-size: 30px;
  }

  div#productdescription {
    font-size: 15px;
    height: auto;
    font-family: sans-serif;
  }
  #rating-stars {
  }
  #ratingStars2 {
    display: flex !important;
    height: 25px;

    width: 50%;
    /* padding-left: 10px; */
    /* background-color: aquamarine; */
  }

  #ratingStars2 p {
    font-size: 15px;
  }
}
